body
{
    background-color: rgba(181, 119, 239, 0.874);
}
div
{
    border: 1px solid black;
    border-radius: 5%;
    width: 500px;
    height: 300px;
    text-align: center;
    margin-top: 10%;
    margin-left: 33%;
    background-color: rgb(0, 0, 0,0.4);
}
input
{
    width: 200px;
    height: 25px;
    margin-top: 7%;
}
.lab
{
    position: relative;
    top: 7%;
}
button
{
    background-color: black;
    color: white;
    width: 125px;
}
.signup
{
    border: 1px solid black;
    border-radius: 5%;
    width: 500px;
    height: 400px;
    text-align: center;
    margin-top: 10%;
    margin-left: 33%;
    background-color: rgb(0, 0, 0,0.4);
}
select
{
    width: 200px;
    height: 25px;
}